* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

body {
  background-color: #ffc862;
  height: 100%;
}

/*nav bar styling*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(41, 93, 223);
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-element {
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(255, 218, 162);
  font-size: 1.8em;
  text-decoration: none;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.nav-element:hover {
  color: rgb(165, 141, 105);
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.regAlign {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

/* All player styling */
#all-players-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 636px) {
  #all-players-container {
    justify-content: center;
  }
}

.page-header {
  text-align: center;
  font-size: 3em;
}

.player {
  height: 540px;
  width: 280px;
  margin: 15px;
  text-align: center;
  background-color: #ffdc97;
  font-size: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.player h3 {
  font-size: 15px;
}

.player .player-img {
  height: 80%;
  width: 100%;
}

/* player details styling */
.player-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  height: 400px;
  padding: 10px;
}

.details-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.player-details .player-img {
  width: 300px;
  height: 80%;
  object-fit: cover;
}

.details-text {
  width: 300px;
}

.team {
  margin-top: 20px;
}
/* button styling */
button {
  padding: 9px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.remove-button {
  background-color: #f4511e;
  color: white;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.remove-button:hover {
  background-color: #cb4016;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.details-button,
.back-button {
  background-color: gainsboro;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.details-button:hover,
.back-button:hover {
  background-color: rgb(191, 191, 191);
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.submit-button {
  font-size: 25px;
  color: white;
  background-color: rgb(22, 80, 225);
  padding: 6px 18px;
  transition: 0.5s;
  transition-timing-function: ease-out;
  margin-top: 30px;
}

.submit-button:hover {
  background-color: rgb(15, 58, 166);
  padding: 6px 18px;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

/* form styling */
#new-player-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#new-player {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 8%;
  border-width: 2px;
  margin-top: 30px;
  background-color: #ffe8bb;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  height: 400px;
  width: 500px;
}

label {
  margin-top: 20px;
}

input {
  width: 70%;
  padding-right: 20px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  overflow: hidden;
  vertical-align: top;
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #ffdc97;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(24.5% - 0px);
  top: calc(100vh - 85vh - 33px);
  background-color: rgb(22, 80, 225);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid;
  color: rgb(255, 218, 162);
  font-size: 20px;
}

.welcome-container {
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: auto;

  margin-top: calc(90vh - 85vh - 20px);
}

.home-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
}

@media (max-width: 636px) {
  .home-button-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.home-buttons {
  margin-top: 10px;
  background-color: rgb(22, 80, 225);
  font-size: 20px;
  color: #ffdc97;
}

.home-left-content {
  margin-right: 10px;
}
.home-right-content {
  margin-left: 10px;
}

.home-title {
  margin-bottom: 30px;
  font-size: 4em;
}

/*puppy logo animate*/
.puppy-logo {
  max-width: 200px;
  animation-duration: 0.5s;
  animation-name: animate-fade, wiggle;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    max-width: 100px;
  }
  100% {
    opacity: 1;
    max-width: 200px;
  }
}
