* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

body {
  background-color: #fcb838;
}

/*nav bar styling*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(22, 80, 225);
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-element {
  margin-left: 20px;
  margin-right: 30px;
  color: rgb(255, 218, 162);
  font-size: 2em;
  text-decoration: none;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.nav-element:hover {
  color: rgb(165, 141, 105);
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.regAlign {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

/* All player styling */
#all-players-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 636px) {
  #all-players-container {
    justify-content: center;
  }
}

.page-header {
  text-align: center;
  font-size: 3em;
}

.player {
  height: 540px;
  width: 280px;
  margin: 15px;
  text-align: center;
  background-color: #ffdc97;
  font-size: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.player h3 {
  font-size: 15px;
}

.player .player-img {
  height: 80%;
  width: 100%;
}

/* player details styling */
.player-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 800px;
  border-style: solid;
  border-radius: 8%;
  border-width: 2px;
  margin-top: 30px;
  background-color: #ffe8bb;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0);
}

.player-details .player-img {
  height: 50em;
  width: 300px;
  height: 80%;
  object-fit: cover;
  margin-right: 50px;
}

.team {
  margin-top: 20px;
}
/* button styling */
button {
  padding: 9px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.remove-button {
  background-color: #f4511e;
  color: white;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.remove-button:hover {
  background-color: #cb4016;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.details-button,
.back-button {
  background-color: gainsboro;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.details-button:hover,
.back-button:hover {
  background-color: rgb(191, 191, 191);
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.submit-button {
  font-size: 25px;
  color: white;
  background-color: rgb(22, 80, 225);
  padding: 6px 18px;
  transition: 0.5s;
  transition-timing-function: ease-out;
  margin-top: 30px;
}

.submit-button:hover {
  background-color: rgb(15, 58, 166);
  padding: 6px 18px;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

/* form styling */
#new-player-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#new-player {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 8%;
  border-width: 2px;
  margin-top: 30px;
  background-color: #ffe8bb;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  height: 400px;
  width: 500px;
}

label {
  margin-top: 20px;
}

input {
  width: 70%;
  padding-right: 20px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
