* {
  text-align: center;
  background-color: #111111;
  color: white;
}

label input {
  margin-top: 15px;
}

button {
  margin-top: 10px;
}

.submit-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #007c89;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}
.submit-button:hover {
  color: #ffffff;
  background-color: #006570;
}
.auth-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #241c15;
  background-color: #efeeea;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}

.auth-button:hover {
  color: #241c15;
  background-color: #d9d7cd;
}

input {
  background-color: white;
  text-align: left;
  color: black;
}
